	body{
		background-image: url(dawn-fog-foggy-2819353.jpg);
		background-position: center;
		background-size: cover;
	}	
.silk{

	font-size: 40px;
	color: red;
	text-transform: uppercase;

}
tr{
	color: brown;
}
